# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
api_test_v2/.Rproj.user/440DC64C/rmd-outputs
api_test_v2/.Rproj.user/440DC64C/saved_source_markers
api_test_v2/.Rproj.user/440DC64C/pcs/files-pane.pper
api_test_v2/.Rproj.user/440DC64C/pcs/source-pane.pper
api_test_v2/.Rproj.user/440DC64C/pcs/windowlayoutstate.pper
api_test_v2/.Rproj.user/440DC64C/pcs/workbench-pane.pper
api_test_v2/.Rproj.user/440DC64C/sources/per/t/5E6A641E
api_test_v2/.Rproj.user/440DC64C/sources/per/t/5E6A641E-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/29B96921
api_test_v2/.Rproj.user/440DC64C/sources/per/t/29B96921-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/85DC32A7
api_test_v2/.Rproj.user/440DC64C/sources/per/t/85DC32A7-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/85E57D51
api_test_v2/.Rproj.user/440DC64C/sources/per/t/85E57D51-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/898E3BE3
api_test_v2/.Rproj.user/440DC64C/sources/per/t/898E3BE3-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/3615EE91
api_test_v2/.Rproj.user/440DC64C/sources/per/t/3615EE91-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/21657A05
api_test_v2/.Rproj.user/440DC64C/sources/per/t/21657A05-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/74346B95
api_test_v2/.Rproj.user/440DC64C/sources/per/t/74346B95-contents
api_test_v2/.Rproj.user/440DC64C/sources/per/t/A0EE7B06
api_test_v2/.Rproj.user/440DC64C/sources/per/t/A0EE7B06-contents
api_test_v2/.Rproj.user/440DC64C/sources/prop/2EEBA8A6
api_test_v2/.Rproj.user/440DC64C/sources/prop/3BE81C98
api_test_v2/.Rproj.user/440DC64C/sources/prop/4FF3BE09
api_test_v2/.Rproj.user/440DC64C/sources/prop/8B6EDF84
api_test_v2/.Rproj.user/440DC64C/sources/prop/8FE0CFAB
api_test_v2/.Rproj.user/440DC64C/sources/prop/15AF3784
api_test_v2/.Rproj.user/440DC64C/sources/prop/238CA98D
api_test_v2/.Rproj.user/440DC64C/sources/prop/259EB66F
api_test_v2/.Rproj.user/440DC64C/sources/prop/296A7FDD
api_test_v2/.Rproj.user/440DC64C/sources/prop/381C398D
api_test_v2/.Rproj.user/440DC64C/sources/prop/618DB9DC
api_test_v2/.Rproj.user/440DC64C/sources/prop/5434D3DE
api_test_v2/.Rproj.user/440DC64C/sources/prop/8173EFFE
api_test_v2/.Rproj.user/440DC64C/sources/prop/46424305
api_test_v2/.Rproj.user/440DC64C/sources/prop/AC7A7D43
api_test_v2/.Rproj.user/440DC64C/sources/prop/AFF305F8
api_test_v2/.Rproj.user/440DC64C/sources/prop/B432658A
api_test_v2/.Rproj.user/440DC64C/sources/prop/BDA7B893
api_test_v2/.Rproj.user/440DC64C/sources/prop/BF04E476
api_test_v2/.Rproj.user/440DC64C/sources/prop/D588DBE7
api_test_v2/.Rproj.user/440DC64C/sources/prop/D1852F7F
api_test_v2/.Rproj.user/440DC64C/sources/prop/E1E76994
api_test_v2/.Rproj.user/440DC64C/sources/prop/EAA11433
api_test_v2/.Rproj.user/440DC64C/sources/prop/INDEX
api_test_v2/.Rproj.user/440DC64C/viewer-cache/C3437323.Rdata
api_test_v2/.Rproj.user/440DC64C/viewer-cache/D5474706.Rdata
api_test_v2/.Rproj.user/440DC64C/viewer-cache/DA9C2F86.Rdata
api_test_v2/.Rproj.user/440DC64C/viewer-cache/EF873ED6.Rdata
api_test_v2/.Rproj.user/C2C1C043/rmd-outputs
api_test_v2/.Rproj.user/C2C1C043/saved_source_markers
api_test_v2/.Rproj.user/C2C1C043/explorer-cache/714c98b57be943f99fdc3d2013fc503e
api_test_v2/.Rproj.user/C2C1C043/jobs/FDC4EBD6-output.json
api_test_v2/.Rproj.user/C2C1C043/pcs/files-pane.pper
api_test_v2/.Rproj.user/C2C1C043/pcs/packages-pane.pper
api_test_v2/.Rproj.user/C2C1C043/pcs/source-pane.pper
api_test_v2/.Rproj.user/C2C1C043/pcs/source-window.pper
api_test_v2/.Rproj.user/C2C1C043/pcs/windowlayoutstate.pper
api_test_v2/.Rproj.user/C2C1C043/pcs/workbench-pane.pper
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/0A2FC714
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/0A2FC714-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/2F0C441C
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/2F0C441C-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/5ABD038A
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/5ABD038A-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/5C59724D
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/5C59724D-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/5F706E7B
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/5F706E7B-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/7E404C37
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/7E404C37-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/07FE3382
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/07FE3382-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/8D7D0327
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/8D7D0327-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/68D7F1D7
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/68D7F1D7-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/81E8742D
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/81E8742D-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/83B71E45
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/83B71E45-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/81267D76
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/81267D76-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/A8045093
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/A8045093-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/AB261134
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/AB261134-contents
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/EDA2858D
api_test_v2/.Rproj.user/C2C1C043/sources/per/t/EDA2858D-contents
api_test_v2/.Rproj.user/C2C1C043/sources/prop/0B6FD75F
api_test_v2/.Rproj.user/C2C1C043/sources/prop/4B810F1B
api_test_v2/.Rproj.user/C2C1C043/sources/prop/6DDD4F2E
api_test_v2/.Rproj.user/C2C1C043/sources/prop/6F6FA981
api_test_v2/.Rproj.user/C2C1C043/sources/prop/9C46AF6D
api_test_v2/.Rproj.user/C2C1C043/sources/prop/9DF3C754
api_test_v2/.Rproj.user/C2C1C043/sources/prop/66A83CB3
api_test_v2/.Rproj.user/C2C1C043/sources/prop/78FC8758
api_test_v2/.Rproj.user/C2C1C043/sources/prop/284EA85B
api_test_v2/.Rproj.user/C2C1C043/sources/prop/966CD179
api_test_v2/.Rproj.user/C2C1C043/sources/prop/3947D019
api_test_v2/.Rproj.user/C2C1C043/sources/prop/10952C7B
api_test_v2/.Rproj.user/C2C1C043/sources/prop/A1AE69D4
api_test_v2/.Rproj.user/C2C1C043/sources/prop/A452990E
api_test_v2/.Rproj.user/C2C1C043/sources/prop/CC63042E
api_test_v2/.Rproj.user/C2C1C043/sources/prop/EDA96510
api_test_v2/.Rproj.user/C2C1C043/sources/prop/F75F875B
api_test_v2/.Rproj.user/C2C1C043/sources/prop/FDFAB376
api_test_v2/.Rproj.user/C2C1C043/sources/prop/INDEX
api_test_v2/.Rproj.user/shared/notebooks/patch-chunk-names
api_test_v2/.Rproj.user/shared/notebooks/paths
api_test_v2/MasterTest_0711e94a-91e0-4d78-bf5e-e883573df6d1/analysis_options.json
api_test_v2/MasterTest_0711e94a-91e0-4d78-bf5e-e883573df6d1/analysis_status.json
api_test_v2/MasterTest_0711e94a-91e0-4d78-bf5e-e883573df6d1/complete_results.json
api_test_v2/MasterTest_0711e94a-91e0-4d78-bf5e-e883573df6d1/preprocessed_file.fst
api_test_v2/MasterTest_0711e94a-91e0-4d78-bf5e-e883573df6d1/preprocessed_my_dataset.csv
api_test_v2/MasterTest_0711e94a-91e0-4d78-bf5e-e883573df6d1/preprocessing_info.json
api_test_v2/__pycache__/main.cpython-313.pyc
api_test_v2/MasterTest_cfb116cd-5b25-4123-b8a3-d180fff1c5ff/analysis_options.json
api_test_v2/MasterTest_cfb116cd-5b25-4123-b8a3-d180fff1c5ff/analysis_status.json
api_test_v2/MasterTest_cfb116cd-5b25-4123-b8a3-d180fff1c5ff/complete_results.json
api_test_v2/MasterTest_cfb116cd-5b25-4123-b8a3-d180fff1c5ff/preprocessed_file.fst
api_test_v2/MasterTest_cfb116cd-5b25-4123-b8a3-d180fff1c5ff/preprocessed_my_dataset.csv
api_test_v2/MasterTest_cfb116cd-5b25-4123-b8a3-d180fff1c5ff/preprocessing_info.json
api_test_v2/.RData
api_test_v2/.Rhistory
user_sessions/MasterTest_d1a7b4a5-a221-48b5-84d4-376c64996063/original_test_data.csv
user_sessions/MasterTest_d1a7b4a5-a221-48b5-84d4-376c64996063/preprocessing_options.json
user_sessions/MasterTest_d1a7b4a5-a221-48b5-84d4-376c64996063/processed_data.csv
